{# View :: Partial :: Snippet - Base #}

<article class="snippet snippet-{{post.post_type}}" id="snippet-{{post.ID}}"  role="article" itemscope itemtype="http://schema.org/Article">
  {% block content %}

    {# Thumbnail #}
    {% if post.get_thumbnail %}
      <div class="" style="background: url('{{post.thumbnail.src|resize(600, 300)}}') center top; background-size: cover; height: 300px; width: 100%;">

      </div>
      <meta itemprop="thumbnailUrl" content="{{post.thumbnail.src}}">
    {% endif %}

    {# Header #}
    <header class="m0">
      <h2 class="mb0" itemprop="headline">
        <a class="black" href="{{post.link}}" itemprop="url" title="{{post.title}}">
          {{post.title}}
        </a>
      </h2>
    </header>

      {# Author / Date #}
      {% include "partials/post/post-meta.twig" %}

    <!-- {# Content #}
    <div itemprop="articleBody">
      <p>
        {{post.get_preview(50, false, "")}}
      </p>
    </div> -->

    <a class="mt2 block black" href="{{post.link}}"><button class="btn btn-outline" type="button" name="button">Read More</button></a>

  {% endblock %}
</article>
