{# View :: Partial :: Snippet - Faculty #}

<article class="snippet snippet-{{post.post_type}} sm-col sm-col-6 md-col-4 p1" id="snippet-{{post.ID}}" style="" role="article" itemscope itemtype="http://schema.org/Article">
<div class="">
  {% block content %}



    {# Thumbnail #}
    {% if post.get_thumbnail %}
    <div class="mx-auto">
      <a class="white" href="{{post.link}}" itemprop="url">
      <div class="mx-auto relative" style="background-image: linear-gradient(rgba(0,0,0,0) 50%, rgba(0,0,0,0.35) 95%), url('{{post.thumbnail|resize(300, 300)}}'); background-position: center top; background-size: cover; height: 256px;">
        <span class="mb1 p0 absolute left-0 bottom-0 px2">
          <h3 class="white mb0" itemprop="headline">

              {{post.title}}

          </h3>
          <h6 class="white regular mt0">{{post.get_field('wpcf-job-title')}}</h6>
        </span>


        <div class="hover-show fill-container">

          <div class="overlay"></div>

            <div class="overlay-container table center relative fill-container">
              <div class="table-cell align-middle">

              <button class="white btn btn-outline" type="button" name="button">Read Full Bio</button>
              </div>
            </div>

        </div>

      </div>

      </a>
      </div>
      <meta itemprop="thumbnailUrl" content="{{post.thumbnail.src}}">
    {% endif %}

    {# Header #}
    <header class="">

    </header>

    <!-- {# Content #}
    <div itemprop="articleBody">
      <p>
        {{faculty.get_preview(50, false, "")}}
      </p>
    </div> -->

  {% endblock %}
    </div>
</article>
