{# View :: Base #}

{% block html_head_container %}
{% include 'header.twig' %}
  {% block head %}
  {% endblock %}
  </head>
{% endblock %}

  <body class="{{body_class}} relative">




    {% include "partials/navigation.twig" %}

    {% block header %}

    {% if page.get_field('wpcf-header-bg') %}

    <header class="page-header page-header-hero relative table" style="background-image: url('{{page.get_field('wpcf-header-bg')}}'); background-position: center; background-size: cover; ">

      <div class="overlay"></div>
      {% block header_title %}
      <div class="table-cell align-middle py4 px2 sm-px4 white relative ">

      <h1 class="center" itemprop="headline">
        {{page.title}}
      </h1>
      <hr class="hr-sm bg-white">

       <!-- <hr class="hr-sm-accent hr-sm ml0 mb3" style="height: 4px; width: 290px;">
      <p class="lighter" style="letter-spacing: 0.05em;">
        Jesuit values are about more than x. <br>They are a way of x, y, and z.
      </p> -->


      </div>
      {% endblock %}

    </header>



    {% else %}
    {% block header_no_img %}
      <!-- <header class="page-header page-header-no-img border-bottom center table">
        <div class="px2 table-cell align-middle">
          {% block header_no_img_title %}
          <h1 class="page-header-title m0" itemprop="headline">
            {{page.title}}
          </h1>
          {% endblock %}
        </div>
      </header> -->
    {% endblock %}

    {% endif %}


    {% endblock %}


    <section id="main" role="main">


        {% block content %}

        {% endblock %}


      {% if sidebar %}
        <aside class="sidebar">
          {{sidebar}}
        </aside>
      {% endif %}

    </section>

    {% block footer %}
      <footer class="footer px3 py2 clearfix relative" id="footer">
        {% include 'footer.twig' %}
      </footer>
      {{ function('wp_footer') }}
    {% endblock %}

  </body>
</html>
