{# View :: Footer #}

<div class="flex flex-wrap clearfix p2 container mx-auto sm-py3" style="font-size: 0.875rem;">

  <div class="col-12 md-col-3 p2">
      <!-- <a class="block" href="/" rel="home">
        <img src="{{(bloginfo('stylesheet_directory')~'/img/famis-logo.svg')}}" alt="" />
      </a> -->
      <h4 class="mt0">FAMIS</h4>

      <ul class="list-reset md-col-9">
        <li class="mb2"><a href="" class="secondary-text-link">504.865.3984</a></li>
        <li><a href="" class="txt-md-grey"> Communications/Music Complex, Room 300</a></li>
        <li><a href="" class="txt-md-grey">6363 St. Charles Avenue, Box 8, New Orleans, LA 70118</a></li>
      </ul>
      <hr>
  </div>

  <div class="col-12 md-col-3 p2">
      <div class="small-column__header">
        <h4 class="small-caps--grey">Learn</h4>
      </div>

      <ul class="list-reset py2">
        <li><a href="" class="secondary-text-link">Degree Programs</a></li>
        <li><a href="" class="secondary-text-link">Admissions Information</a></li>
        <li><a href="" class="secondary-text-link">Common Curriculum</a></li>
      </ul>
  </div>

  <div class="col-12 md-col-3 p2">
    <div class="small-column__header">
      <h4 class="small-caps--grey">Discover</h4>
    </div>

      <ul class="list-reset py2">
        {% for item in footer_menu.get_items %}
          <li class="list-reset {{item.classes | join(' ')}}">
            <a class="link secondary-text-link" href="{{item.get_link}}">{{item.title}}</a>
          </li>
        {% endfor %}
      </ul>
  </div>

  <div class="col-12 md-col-3 p2">
    <div class="small-column__header">
      <h4 class="small-caps--grey">Connect</h4>
    </div>
      <ul class="list-reset icon-list py2">
        <li class="inline-block icon-list__item">
          <a href="">
            <svg class="icon icon--social">
                <use xlink:href="{{(bloginfo('stylesheet_directory')~'/sprite/sprite.svg#social--facebook')}}"></use>
            </svg>
          </a>
        </li>
        <li class="inline-block icon-list__item">
          <a href="">
            <svg class="icon icon--social">
                <use xlink:href="{{(bloginfo('stylesheet_directory')~'/sprite/sprite.svg#social--twitter')}}"></use>
            </svg>
          </a>
        </li>
        <li class="inline-block icon-list__item">
          <a href="">
            <svg class="icon icon--social">
                <use xlink:href="{{(bloginfo('stylesheet_directory')~'/sprite/sprite.svg#social--youtube')}}"></use>
            </svg>
          </a>
        </li>
      </ul>

  </div>




</div>
