{# View :: Single - Degree #}

{# View :: Page #}

{% extends "base.twig" %}


{% block header_title %}
<div class="center table-cell align-middle relative white">
  <span class="uppercase block degree-block-degtype">{{post.get_field('wpcf-degree-type')}}</span>

<h2 class="page-header-title mt1" style="letter-spacing: 0.02em;">{{post.get_field('wpcf-degree-title-no-type')}}</h2>
<hr class="mb3" style="background: white; width: 300px;">
<a class="py2" href="https://admissions.loyno.edu/apply/" target="_blank"><button class="btn btn-accent-fill btn-round btn-outline-round" type="button" name="button"><span class="p3">Apply Now</span></button></a>
</div>
{% endblock %}


{% block content %}

  <article class="post-type-{{page.post_type}}" id="post-{{page.ID}}" itemscope itemtype="http://schema.org/WebPage">

    {# Content #}

    <div class="relative py2">
      <div class="container">
      <div class="px2 sm-p2 relative sidebar-menu sm-show">
        <span class="sidebar-nav-drop-button block md-hide">
          <h4 class="m0 inline-block small py2">Degree Links</h4>
          <svg id="triangleDown" class="sidebar-nav-drop-button-icon md-hide" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="8" height="8" fill="currentcolor">
            <path d="M4 8 H28 L16 26 z"></path>
          </svg>
        </span>
        <ul class="list-reset md-show sidebar-nav inline-block py1 mb0">
          <li class="py1 px2 inline-block"><a href="/degree-programs" class="secondary-text-link txt-light"><i class="fa fa-chevron-left mr1"></i>All Degrees</a></li>
          <li class="py1 px2 inline-block"><a class="secondary-text-link txt-light"  rel="scrolling" href="#degreeguideanchor">Degree Guide</a></li>
          <li class="py1 px2 inline-block"><a class="secondary-text-link txt-light" rel="scrolling" href="#careeranchor">Careers</a></li>
          <li class="py1 px2 inline-block"><a class="secondary-text-link txt-light" rel="scrolling" href="#studentworkanchor">Student Work</a></li>
          <li class="py1 px2 inline-block"><a class="secondary-text-link txt-light" href="{{page.get_field('wpcf-dpcl-url')}}" target="_blank">DPCL</a></li>
        </ul>
        <hr class="mt0 sm-mb2">
      </div>
      <div class="clearfix py2">


      <div class="md-col md-col-8 sm-mr4 p2 mx-auto">
        <h1 class="h1 mt0 capitalize" style="font-size: 2.5rem;">{{page.get_field('wpcf-highlighted-text')}}</h1>
        <hr class="hr-sm-accent ml0 mb4">

        <p class="txt-light-grey mb2">{{page.content}}</p>
        <div class="py2">

        <h4 class="mb2">Get Started</h4>
        <a class="mb2 inline-block" href="https://admissions.loyno.edu/register/inquiryform" target="_blank"><button class="mb2 block btn btn-accent btn-outline" type="button" name="button">Request Information</button></a>
        <a class="mb2 inline-block sm-px1" href="/how-to-apply"><button class="block btn btn-accent btn-outline" type="button" name="button">How to Apply</button></a>
        </div>

      </div>
      <!-- <div class="md-col md-col-5 p2">


        <div class="relative sm-mt2">

        <div class="mx-auto center relative fill-container" style="background: url('{{page.thumbnail}}') center; background-size: cover; min-height: 420px; min-width: 320px; ">
          <div class="">

          </div>
          <div class="table-cell align-middle relative white">



          </div>



        </div>

      </div>
    </div> -->

    </div>
    </div>


      <!-- <div class="px2 sm-col sm-col-12">
        <h4 class="mb2">Get Started</h4>
        <a class="mb2 inline-block" href="https://admissions.loyno.edu/register/inquiryform" target="_blank"><button class="mb2 block btn btn-accent btn-outline" type="button" name="button">Request Information</button></a>
        <a class="mb2 inline-block sm-px1" href="/how-to-apply"><button class="block btn btn-accent btn-outline" type="button" name="button">How to Apply</button></a>
      </div> -->


    </div>


    <div class="clearfix bg-alternate py2 sm-py4">
      <div class="container sm-mb2">
      <div class="md-col md-col-6 p2 sm-px0">
        <div class="flex-video widescreen">
            {{page.get_field('wpcf-video-embed-code')}}
        </div>
      </div>


      <div class="md-col md-col-6 p2 sm-px4 sm-py0">
        <h2 class="mt0">{{post.get_field('wpcf-section-two-heading')}}</h2>
        <hr class="hr-sm-accent ml0 mt2 mb2 sm-mb3">
        <p>
          {{post.get_field('wpcf-section-two-body-txt')}}
        </p>
      </div>
      </div>
    </div>


<div class="container sm-py2">
  <div class="px2 py3 sm-py4 sm-mb2" id="careeranchor">
    <h6 class="txt-md-grey">Employment Opportunities</h6>
    <hr>
    <h2 class="h2 mb2">Find your career path.</h2>
    <div class="clearfix py2 mx-auto flex-wrap flex">

      {% for post in degree.posts(6, 'career') %}
      <div class="sm-col sm-col-6 md-col-4 p2 mx-auto relative">
        <img class="block py2" src="{{post.thumbnail}}" style="height: 160px;" alt="Career thumbnail" />
          <h4>{{post.title}}</h4>
          <p class="txt-light txt-dark-grey">{{post.content}}</p>
          <!-- <span class="absolute bottom-0 accent-fill block" style="height: 8px; width: 100%;"></span> -->
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="px2 py3 sm-py2 sm-mb2" id="studentworkanchor">
    <div class="">
      <h6 class="txt-md-grey">Featured Students</h6>
      <hr>
      <h2 class="h2 mb2">Our students, your future peers.</h2>
    </div>
    <div class="clearfix py2 mx-auto">

      {% for post in degree.posts(3, 'student-artist') %}
      <div class="sm-col sm-col-6 md-col-4 px2 mx-auto">
        <div class=" rounded ">

        <div class="" style="background: url('{{post.thumbnail}}') center; background-size: cover; height: 200px;">

        </div>
          <h4>{{post.title}}</h4>
          <p class="txt-light txt-dark-grey">{{post.content}}</p>
          </div>
      </div>
      {% endfor %}
    </div>
  </div>

</div>

  <div class="bg-alternate py2 sm-py4" id="degreeguideanchor">
    <div class="container">
      <div class="py2 px3 relative">
        <h2 class="mb2">Degree Guide</h2>
        <hr class="hr-sm-accent ml0 mb2">
        <h4 class="txt-dark-grey mb3">A look into your next four years.</h4>
        <div class="absolute right-0 top-0 py4 px3 sm-hide">
        <div class="open-close-button">
        </div>
        </div>
      </div>

      <div class="mx-auto sm-py2 mb4 card">
        <div class="mx-auto clearfix degree-guide-wrapper sm-show">
        {% include 'partials/degree-guide.twig' %}
        </div>
      </div>

  </div>
</div>

<div class="container px2 sm-px0">
  <div class=" sm-mb2 py3">
    <h2 class="h2 mb2">Get started today.</h2>
    <a class="mb2 inline-block" href="https://admissions.loyno.edu/register/inquiryform" target="_blank"><button class="mb2 block btn btn-accent btn-outline" type="button" name="button">Request Information</button></a>
    <a class="mb2 inline-block sm-px1" href="/how-to-apply"><button class="block btn btn-accent btn-outline" type="button" name="button">Apply Now</button></a>
  </div>
  </div>
</div>

  </article>

{% endblock %}
