{# View :: Single #}

{% extends "base.twig" %}

{% block header_title %}


{% endblock %}

{% block header_no_img %}


{% endblock %}


{% block content %}

  <article class="post-type-{{post.post_type}} p2 container" style="max-width: 960px;" id="post-{{post.ID}}" role="article" itemscope itemtype="http://schema.org/Article">

    {# Header #}

      <h1 itemprop="headline">
        {{post.title}}
      </h1>


    {# Author / Date #}
    {% include "partials/post/post-meta.twig" %}
    <br>

    {% if post.get_field('wpcf-video-embed-code') %}
    <div class="flex-video widescreen">
      {{video}}
    </div>
    {% endif %}


    {# Content #}
    <div itemprop="articleBody">
      <div class="py2">


      {{post.content}}

      </div>


    </div>

    {% include "partials/category.twig" %}
    {% include "partials/tags.twig" %}
  </article>

{% endblock %}
