{# View :: Single - Degree #}

{# View :: Page #}

{% extends "base.twig" %}

{% block header_title %}
<div class="center table-cell align-middle relative white">
  <span class="uppercase block degree-block-degtype">{{post.get_field('wpcf-degree-type')}}</span>

  <h2 class="page-header-title mt1" style="letter-spacing: 0.02em;">{{post.get_field('wpcf-degree-title-no-type')}}</h2>
  <hr class="mb3" style="background: white; width: 300px;">
  <!-- <a class="py2" href="https://admissions.loyno.edu/apply/" target="_blank">
    <button class="btn btn-accent-fill btn-round btn-outline-round" type="button" name="button">
      <span class="p3">Apply Now</span>
    </button>
  </a> -->
</div>
{% endblock %}

{% block content %}

<article class="post-type-{{page.post_type}}" id="post-{{page.ID}}" itemscope itemtype="http://schema.org/WebPage">

  {# Content #}
  <div class="relative border-bottom border-top" style="font-size: 0.875rem; letter-spacing: 0.025em;">
    <ul class="center list-reset md-show py2 mb0 container">
      <!-- <li class="py1 px2 inline-block">
        <a href="/degree-programs" class="accent-hover">
          <i class="fa fa-chevron-left mr1"></i>All Degrees</a>
      </li> -->
      <li class="py1 px2 inline-block">
        <a class="secondary-text-link" rel="scrolling" href="#degreeguideanchor">Degree Guide</a>
      </li>
      <li class="py1 px2 inline-block">
        <a class="secondary-text-link" rel="scrolling" href="#careeranchor">Careers</a>
      </li>
      <li class="py1 px2 inline-block">
        <a class="secondary-text-link" rel="scrolling" href="#studentworkanchor">Student Work</a>
      </li>
      <li class="py1 px2 inline-block">
        <a class="secondary-text-link" href="{{page.get_field('wpcf-dpcl-url')}}" target="_blank">DPCL</a>
      </li>
    </ul>
  </div>

  <div class="relative container clearfix p2 py3 sm-py4">

    <div class="md-col md-col-6 px2">
      <!-- <blockquote class="ml0" cite="http://"> -->
        <h3 class="mt0 capitalize">{{page.get_field('wpcf-highlighted-text')}}</h3>
        <hr class="hr-sm-accent ml0 mb3">
      <!-- </blockquote> -->

      <p class="txt-light-grey mb2">{{page.content}}</p>

      <!-- <div class="mt2">
        <h4 class="mb2">Get Started</h4>
        <a class="inline-block" href="https://admissions.loyno.edu/register/inquiryfor m" target="_blank">
          <button class="mb2 block btn btn-accent-fill btn-outline" type="button" name="button">Request Information</button>
        </a>
        <a class="inline-block sm-px1" href="/how-to-apply">
          <button class="block btn btn-accent btn-outline" type="button" name="button">How to Apply<i class="fa fa-chevron-right ml1"></i></button>
        </a>
      </div> -->


    </div>

    <!-- <div class="md-col md-col-6 px2 sm-px3 mx-auto mt4">

            <div class="mx-auto" style="height: 400px; background: url({{page.thumbnail}}) center; background-size: cover;"></div>

  </div> -->
  </div>




  <div class="bg-alternate p2 py3 sm-py4">
    <div class="container clearfix sm-mb2">
      <div class="md-col-right md-col-6 px2 sm-px4">
        <!-- <h3 class="mt0">{{post.get_field('wpcf-section-two-heading')}}</h3> -->
        <!-- <hr class="hr-sm-accent ml0 mt2 mb2 sm-mb3"> -->
        <h3 class="mt0 capitalize">{{post.get_field('wpcf-section-two-heading')}}</h3>
        <hr class="hr-sm-accent ml0 mt2 mb2 sm-mb3">
        <p>
          {{post.get_field('wpcf-section-two-body-txt')}}
        </p>
      </div>
      <div class="md-col md-col-6  sm-px3">

        <!-- <div class="card"> -->
        <div class="flex-video widescreen">
          {{page.get_field('wpcf-video-embed-code')}}
        </div>




        <!-- </div> -->
      </div>


    </div>
  </div>

  <section class="">
    <div class="container p2 sm-px3 sm-py4" id="careeranchor">
      <h6 class="txt-md-grey center mb0">Employment Opportunities</h6>
      <h2 class="h2 mb2 mt1 center">Find your career path.</h2>
      <hr class="hr-sm-accent">

      <div class="clearfix container-md py2 mx-auto flex-wrap flex">

        {% for post in degree.posts(6, 'career') %}
        <div class="sm-col sm-col-6 md-col-4 p2 mx-auto">
          <div class="card relative" style="background-color: #F7F7FA;">

            <div class="py1">


          <img class="block py2 mx-auto" src="{{post.thumbnail}}" style="height: 160px;" alt="Career thumbnail"/>
          <h4 class="center">{{post.title}}</h4>
            </div>
            <div class="card__reveal-wrapper p2 bg-white">
              <p class="txt-light txt-dark-grey">{{post.content}}</p>
            </div>
          <!-- <span class="absolute bottom-0 accent-fill block" style="height: 8px; width: 100%;"></span> -->
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <div class="bg-alternate py4" id="studentworkanchor">
      <div class="px2">
        <h6 class="txt-md-grey center mb0">Featured Students</h6>
        <h2 class="h2 mt1 mb2 center">Our students, your future peers.</h2>
        <hr class="hr-sm-accent">
      </div>
      <div class="clearfix px2 py2 sm-py3 mx-auto flex-wrap flex container">

        {% for post in degree.posts(3, 'student-artist') %}
        <div class="sm-col sm-col-6 md-col-4 px2 mx-auto">
            <div class="" style="background: url('{{post.thumbnail}}') center; background-size: cover; height: 200px;"></div>
            <h4>{{post.title}}</h4>
            <p class="txt-light txt-dark-grey">{{post.content}}</p>
        </div>
        {% endfor %}
      </div>
      <div class="center">


      <a href="#"><button class="btn btn-accent-fill" type="button" name="button">View More</button></a>
      </div>
    </div>

  </section>

  <section class="bg-alternate p2 sm-px3 sm-py4" id="degreeguideanchor">
    <div class="container">
      <div class="py2 px3 relative">
        <h2 class="mb2">Degree Guide</h2>
        <hr class="hr-sm-accent ml0 mb2">
        <h4 class="txt-dark-grey mb3">A look into your next four years.</h4>
        <button type="button" class="mobile-degree-toggle sm-hide btn btn-outline" name="button">View the Guide</button>
      </div>

        <div class="sm-py2 mb4 card mx-auto clearfix degree-guide-wrapper sm-show flex flex-wrap">
          {% include 'partials/degree-guide.twig' %}
        </div>

    </div>
  </section>

    <div class="container sm-mb2 py3 px2">
      <h2 class="h2 mb2">Get started today.</h2>
      <a class="mb2 inline-block" href="https://admissions.loyno.edu/register/inquiryform" target="_blank">
        <button class="mb2 block btn btn-accent btn-outline" type="button" name="button">Request Information</button>
      </a>
      <a class="mb2 inline-block sm-px1" href="/how-to-apply">
        <button class="block btn btn-accent btn-outline" type="button" name="button">Apply Now</button>
      </a>
    </div>
</div>

</article>

{% endblock %}
