{# View :: Single faculty-member #}

{% extends "base.twig" %}


{% block header %}
{% endblock %}

{% block content %}


{# Header #}
<header class="bg-alternate">
  <div class="clearfix container py2 sm-py4">

    <div class="sm-col sm-col-4">
      <img class="block mx-auto br-circle" src="{{post.thumbnail|resize(300, 300)}}" alt="faculty photo" />
    </div>

    <div class="sm-col sm-col-8 px2">
      <h2 itemprop="headline">
        {{post.title}}
      </h2>
      <h4 class="regular link-light-grey mb3">{{post.get_field('wpcf-job-title')}}</h4>
      <blockquote class="ml0" cite="http://">
        <p>{{ post.get_field('wpcf-faculty-quote') }}
        </p>
        <cite>&nbsp;&nbsp;{{post.title}}</cite>
      </blockquote>
    </div>

  </div>
</header>

<article class="post-type-{{post.post_type}} container sm-px4 py2 sm-py4" id="post-{{post.ID}}" role="article" itemscope itemtype="http://schema.org/Article">



  {# Content #}
  <div class="sm-px4" itemprop="articleBody">
    {{post.content}}
  </div>

</article>

{% endblock %}
