<div class="hero-carousel">
  <div class="hero relative" style="background: url('{{page.get_field('wpcf-slider-img-1')}}') center; background-size: cover; height: 70vh; width: 100%;">
  <div class="overlay overlay-dark"></div>

  <div class="hero-content container absolute bottom-0 px2 py2 sm-p4 mb2 white">
    <h1 class="hero-content-title mb2">{{page.get_field('wpcf-slider-feat-text-1')}}</h1>
    <span class="hero-content-sub block mb2">{{page.get_field('wpcf-slider-secondary-text-1')}}</span>
    <a class="white" href="/degree-programs"><button class="btn btn-outline" type="button" name="button">View Degrees</button></a>
    <a class="white ml2" href="/how-to-apply"><button class="btn btn-outline" type="button" name="button">Apply Now</button></a>
  </div>
</div>
<div class="hero relative" style="background: url('{{page.get_field('wpcf-slider-img-2')}}') center; background-size: cover; height: 70vh; width: 100%;">
  <div class="overlay overlay-dark"></div>

  <div class="hero-content absolute bottom-0 left-0 px2 py2 sm-p4 mb2 white">
    <h1 class="hero-content-title mb2">{{page.get_field('wpcf-slider-feat-text-2')}}</h1>
    <span class="hero-content-sub block mb2">{{page.get_field('wpcf-slider-secondary-text-2')}}</span>
    <a class="white" href="/news"><button class="btn btn-outline" type="button" name="button">View More</button></a>

  </div>
</div>

<div class="hero relative" style="background: url('{{page.get_field('wpcf-slider-img-3')}}') center; background-size: cover; height: 70vh; width: 100%;">
<div class="overlay overlay-dark"></div>

<div class="hero-content absolute bottom-0 left-0 px2 py2 sm-p4 mb2 white">
  <h1 class="hero-content-title mb2">{{page.get_field('wpcf-slider-feat-text-3')}}</h1>
  <span class="hero-content-sub block mb2">{{page.get_field('wpcf-slider-secondary-text-3')}}</span>
  <a class="white" href="#"><button class="btn btn-outline" type="button" name="button">View More</button></a>

</div>
</div>

</div>
