<div class="hero-carousel relative">
  <div class="hero relative" style="background: url('{{page.get_field('wpcf-slider-img-1')}}') center; background-size: cover; height: 80vh; width: 100%;">
  <div class="overlay overlay-dark"></div>

  <div class="hero-content absolute bottom-0 left-0 px2 py2 sm-p3 mb4 white">
    <h1 class="hero-content-title">{{page.get_field('wpcf-slider-feat-text-1')}}</h1>
    <p class="hero-content-sub">{{page.get_field('wpcf-slider-secondary-text-1')}}</p>
    <a class="white" href="/degree-programs"><button class="btn btn-outline" type="button" name="button">View Degrees</button></a>
    <a class="white ml2" href="/how-to-apply"><button class="btn btn-outline" type="button" name="button">Apply Now</button></a>
  </div>
</div>
<div class="hero relative" style="background: url('{{page.get_field('wpcf-slider-img-2')}}') center; background-size: cover; height: 80vh; width: 100%;">
  <div class="overlay overlay-dark"></div>

  <div class="hero-content absolute bottom-0 left-0 px2 py2 sm-p3 mb4 white">
    <h1 class="hero-content-title">{{page.get_field('wpcf-slider-feat-text-2')}}</h1>
    <p class="hero-content-sub">{{page.get_field('wpcf-slider-secondary-text-2')}}</p>
    <a class="white" href="/news"><button class="btn btn-outline" type="button" name="button">View News</button></a>

  </div>
</div>

<div class="hero relative" style="background: url('{{page.get_field('wpcf-slider-img-3')}}') center; background-size: cover; height: 80vh; width: 100%;">
<div class="overlay overlay-dark"></div>

<div class="hero-content absolute bottom-0 left-0 px2 py2 sm-p3 mb4 white">
  <h1 class="hero-content-title">{{page.get_field('wpcf-slider-feat-text-3')}}</h1>
  <p class="hero-content-sub">{{page.get_field('wpcf-slider-secondary-text-3')}}</p>
  <a class="white" href="#"><button class="btn btn-outline" type="button" name="button">View News</button></a>

</div>
</div>

</div>
