{# View :: Partial :: Navigation #}

{% block header %}



<header class="main-header animate-search flex flex-center flex-justify px1 sm-px3">
  <div class="logo sm-p0 left flex flex-center-center" role="banner">
    <a class="logo-link link-reset hover-bar relative" href="/" rel="home">
      <img class="fill-container" alt="Loyola Univerisity New Orleans Film & Music Industry Studies Logo" src="{{(bloginfo('stylesheet_directory')~'/img/famis-logo.svg')}}"/>
    </a>
  </div>

  <span style="height: 16px; width: 16px; background: url({{(bloginfo('stylesheet_directory')~'/img/search-ol.svg')}}) no-repeat center; background-size: contain;" class="ml2 search-toggle"></span>

  <form action="/" class="main-header__searchform" id="searchform" method="get" role="search">
    <input type="search" placeholder="Search..." class="wp_search__input" name="s">

    <!-- <div class="">
      <span>in</span>
      <select class="field" style="height: 2.75rem;" name="category_name">
        <option value="">Categories</option>
        {% for cat in categories %}
        <option value="{{cat.name}}">{{cat.name}}</option>
        {% endfor %}
      </select>
    </div> -->
    <a href="" class="srt">Search<input type="submit" class="search-submit" value="Search"></a>
  </form>


  <div class="flex flex-center-center">



    <div class="table sm-show">
      <span class="inline-block table-cell align-middle" style="font-size: 0.75rem; ">
        <a href="/how-to-apply">
          <button class="btn btn-outline btn-outline-round btn-accent uppercase" name="button" type="button">Apply</button>
        </a>
        <!-- <a href="https://admissions.loyno.edu/register/inquiryform" target="_blank">
          <button class="btn btn-accent-fill uppercase" name="button" type="button">Request Info</button>
        </a> -->
      </span>

    </div>

    <a href="" class="cd-search-trigger cd-text-replace">Search<input type="submit" class="search-submit srt" value="Search"></a>

  </div>
  <!-- .cd-main-nav-wrapper -->

  <div id="search" class="cd-main-search sm-show">
    <form action="/" class="searchform" id="searchform" method="get" role="search">
      <input type="search" placeholder="Search" class="wp_search__input" name="s">

      <div class="cd-select">
        <span>in</span>
        <select name="category_name">
          <option value="">all Categories</option>
          {% for cat in categories %}
          <option value="{{cat.name}}">{{cat.name}}</option>
          {% endfor %}
        </select>
        <span class="selected-value">all Categories</span>
      </div>
    </form>
    <div class="cd-search-suggestions">
      <div class="news">
        <h3>News</h3>
        <ul class="list-reset">
          {% for post in secondary_feat_post.posts(3, 'post') %}
          <li>
            <a class="image-wrapper" href="{{post.link}}"><img src="{{post.thumbnail}}" alt="News image"></a>
            <h4 class="mb0">
              <a style="color: black;" href="{{post.link}}">{{post.title}}</a>
            </h4>
            <time datetime="2016-01-12">{{post.date}}</time>
          </li>
          {% endfor %}

        </ul>
      </div>
    </div>
    <a href="#0" class="close cd-text-replace">Close Form</a>

  </div>
  <!-- .cd-main-search -->

</header>

<!-- <div class="cd-cover-layer"></div> -->
<!-- cover main content when search form is open -->

<nav class="nav-main relative" id="nav-main" role="navigation">

  <div class="nav-main-wrapper flex flex-center">
    <ul class="nav-list ml0 list-reset mb0">

      <!-- <li class="nav-list-item list-reset inline-block py1 border-right">
        <span class="nav-list-item-link black accent-hover py2 px1 sm-px2">Page Links</span>
        <div class="nav-drop flex flex-center" style="position: absolute">


          <div class="px2 relative sidebar-menu sm-show bg-grey-light">
            <ul class="list-reset md-show sidebar-nav inline-block py1 mb0 container">
              <li class="py1 px2">
                <a href="/degree-programs" class="secondary-text-link txt-light">
                  <i class="fa fa-chevron-left mr1"></i>All Degrees</a>
              </li>
              <li class="py1 px2">
                <a class="secondary-text-link txt-light" rel="scrolling" href="#degreeguideanchor">Degree Guide</a>
              </li>
              <li class="py1 px2">
                <a class="secondary-text-link txt-light" rel="scrolling" href="#careeranchor">Careers</a>
              </li>
              <li class="py1 px2">
                <a class="secondary-text-link txt-light" rel="scrolling" href="#studentworkanchor">Student Work</a>
              </li>
              <li class="py1 px2">
                <a class="secondary-text-link txt-light" href="{{page.get_field('wpcf-dpcl-url')}}" target="_blank">DPCL</a>
              </li>
            </ul>
          </div>

        </div>
      </li> -->

      {% for item in primary_menu.get_items %}
      <li class="nav-list-item list-reset inline-block {{item.classes | join(' ')}}">

        <a class="nav-list-item-link black accent-hover py2 px1 sm-px2" href="{{item.get_link}}">{{item.title}}</a>

        {% if item.get_children %}

        <span class="nav-drop-button">
          <svg class="nav-drop-button-icon align-middle" fill="currentcolor" height="8" id="triangleDown" viewBox="0 0 32 32" width="8" xmlns="http://www.w3.org/2000/svg">
            <path d="M4 8 H28 L16 26 z"></path>
          </svg>
        </span>
        <!-- <i class="arrow arrow-up bottom-0 mx-auto sm-show"></i> -->
        <div class="nav-drop flex flex-center">

          <div class="clearfix width-100">
            <div class="md-col md-col-12">



            <ul class="list-reset mb0 mt1 sm-mt0 clearfix flex flex-wrap" style="width: 100%;">

              <!-- <div class="clearfix sm-col-8 mx-auto sm-mt3 py1"> -->
              {% for child in item.get_children %}

              <li class="list-reset block sm-ml0 md-col md-col-4 py2 sm-px3">

                <a class="nav-drop-link px2 sm-p0 hover relative logo-link link-reset" href="{{child.get_link}}">
                  <span class="accent-hover">{{child.title}}</span>
                </a>
                <hr class="lg-show">
              </li>

              {% endfor %}
              <!-- </div> -->
            </ul>
            </div>
            <div class="md-col md-col-4 center">
              <!-- <img class="center" src="http://unsplash.it/400/200" alt="" /> -->
            </div>
          </div>

        </div>
        {% endif %}

      </li>
      <!-- <hr class="lg-hide"> -->
      {% endfor %}

    </ul>

  </div>

</nav>

<div class="menu btn-back mr2 sm-mr3" style="top: 8px;">
  <div class="btn-back-icon"></div>
</div>

{% endblock %}
