{% if page.get_field('wpcf-secondary-heading')|array[0] %}
<div class="clearfix white bg-dark">
  <div class="md-col md-col-6 lg-col-5 p2 sm-p4 ">
    <h2>{{ page.get_field('wpcf-secondary-heading')|array[0] }}</h2>
    <hr class="hr-sm-accent ml0 mb3">
    <span>{{ page.get_field('wpcf-body-txt')|array[0] }}
    </span>
  </div>
  <div class="md-col md-col-6 md-col-right lg-col-7" style="height: 600px;">
    <div class="fill-container bg-cover-center" style="background-image: url('{{ page.get_field('wpcf-img')|array[0] }}'); min-height: 100%; min-width: 100%;">

    </div>

  </div>
</div>
{% endif %}

{% if page.get_field('wpcf-secondary-heading')|array[1] %}

  <div class="clearfix">
    <div class="md-col md-col-6 md-col-right lg-col-5 p2 sm-p4">
      <h2>{{ page.get_field('wpcf-secondary-heading')|array[1] }}</h2>
      <hr class="hr-sm-accent ml0 mb3">
      <span>{{ page.get_field('wpcf-body-txt')|array[1] }}
    </div>
    <div class="md-col md-col-6 md-col-right lg-col-7" style="height: 600px;">
      <div class="fill-container bg-cover-center" style="background-image: url('{{ page.get_field('wpcf-img')|array[1] }}'); min-height: 100%; min-width: 100%;">

      </div>
    </div>

  </div>
{% endif %}

{% if page.get_field('wpcf-secondary-heading')|array[2] %}

<div class="clearfix white bg-dark">
  <div class="md-col md-col-6 lg-col-5 p2 sm-p4 ">
    <h2>{{ page.get_field('wpcf-secondary-heading')|array[2] }}</h2>
    <hr class="hr-sm-accent ml0 mb3">
    <span>{{ page.get_field('wpcf-body-txt')|array[2] }}
    </span>
  </div>
  <div class="md-col md-col-6 md-col-right lg-col-7" style="height: 600px;">
    <div class="fill-container bg-cover-center" style="background-image: url('{{ page.get_field('wpcf-img')|array[2] }}'); min-height: 100%; min-width: 100%;">

    </div>

  </div>
</div>

{% endif %}

{% if page.get_field('wpcf-secondary-heading')|array[3] %}

  <div class="clearfix">
    <div class="md-col md-col-6 md-col-right lg-col-5 p2 sm-p4">
      <h2>{{ page.get_field('wpcf-secondary-heading')|array[3] }}</h2>
      <hr class="hr-sm-accent ml0 mb3">
      <span>{{ page.get_field('wpcf-body-txt')|array[3] }}
    </div>
    <div class="md-col md-col-6 md-col-right lg-col-7" style="height: 600px;">
      <div class="fill-container bg-cover-center" style="background-image: url('{{ page.get_field('wpcf-img')|array[3] }}'); min-height: 100%; min-width: 100%;">

      </div>
    </div>

  </div>
{% endif %}


{% if page.get_field('wpcf-secondary-heading')|array[4] %}

<div class="clearfix white bg-dark">
  <div class="md-col md-col-6 lg-col-5 p2 sm-p4 ">
    <h2>{{ page.get_field('wpcf-secondary-heading')|array[4] }}</h2>
    <hr class="hr-sm-accent ml0 mb3">
    <span>{{ page.get_field('wpcf-body-txt')|array[4] }}
    </span>
  </div>
  <div class="md-col md-col-6 md-col-right lg-col-7" style="height: 600px;">
    <div class="fill-container bg-cover-center" style="background-image: url('{{ page.get_field('wpcf-img')|array[4] }}'); min-height: 100%; min-width: 100%;">

    </div>

  </div>
</div>

{% endif %}

{% if page.get_field('wpcf-secondary-heading')|array[5] %}

<div class="clearfix white bg-dark">
  <div class="md-col md-col-6 lg-col-5 p2 sm-p4 ">
    <h2>{{ page.get_field('wpcf-secondary-heading')|array[5] }}</h2>
    <hr class="hr-sm-accent ml0 mb3">
    <span>{{ page.get_field('wpcf-body-txt')|array[5] }}
    </span>
  </div>
  <div class="md-col md-col-6 md-col-right lg-col-7" style="height: 600px;">
    <div class="fill-container bg-cover-center" style="background-image: url('{{ page.get_field('wpcf-img')|array[5] }}'); min-height: 100%; min-width: 100%;">

    </div>

  </div>
</div>

{% endif %}
