{# View :: Partial :: Pagination - Default #}

<nav class="center">
  <ul class="pagination list-reset">
    {% for page in pagination.pages %}
      <li class="{{page.class}} inline-block">
        {% if page.link %}
          <a href="{{page.link}}" class="{{page.class}} link-light-grey">{{page.title}}</a>
          {% else %}
          <span class="{{page.class}}">{{page.title}}</span>
        {% endif %}
      </li>
    {% endfor %}

    <div class="block p1">

    {% if pagination.prev %}
      <li class="inline-block">
        <a href="{{pagination.prev.link}}" class="prev link-light-grey {{pagination.prev.link|length ? '' : 'invisible'}}">
          <span class="srt" aria-hidden="true">&laquo;</span><span class="btn btn-outline">Previous</span>
        </a>
      </li>
    {% endif %}
    {% if pagination.next %}
      <li class="inline-block">
        <a href="{{pagination.next.link}}" class="next link-light-grey {{pagination.next.link|length ? '' : 'invisible'}}">
          <span class="srt" aria-hidden="true">&raquo;</span><span class="btn btn-outline">Next</span>
        </a>
      </li>
    {% endif %}
    </div>
  </ul>
</nav>
